
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/


.pytest_cache/
.cache/


reports/
allure-results/
allure-report/
test-results/
screenshots/
videos/
traces/

.vscode/
.idea/
*.swp


.DS_Store
Thumbs.db